.inp {
  width: 12%;
}
img {
  width: 90%;
}
body {
  background-color: #e7ebf0;
}
.bg {
  background-color: #e7ebf0;
  padding: 20px;
}
.card {
  margin: 0px auto; /* Added */
  float: none; /* Added */
  margin-bottom: 0px; /* Added */
  padding: 10px;
}
